:root {
  --freitag-header-bg: #5c8b59;
  --freitag-header-text: #f1f7f1;
  --freitag-header-text-hover: #48694e;
  --freitag-nav-bg: #39533f;
  --freitag-nav-hover-bg: #48694e;
  --freitag-nav-text: #f1f7f1;
}

.bilberry-hugo-theme header {
  background-color: var(--freitag-header-bg);
}

.bilberry-hugo-theme header .toggler {
  background: var(--freitag-nav-bg);
  color: var(--freitag-nav-text);
}

.bilberry-hugo-theme nav {
  background: var(--freitag-nav-bg);
  color: var(--freitag-nav-text);
}

.bilberry-hugo-theme nav ul li a:hover {
  color: inherit;
  background-color: var(--freitag-nav-hover-bg);
}

.bilberry-hugo-theme header .titles .title a {
  color: var(--freitag-header-text);
}

.bilberry-hugo-theme header .titles .title a:hover {
  color: var(--freitag-header-text-hover);
}
